    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
    }
    
    body {
        width: 100%;
        min-height: 100vh;
        background-color: white;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .instagram-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 60%;
        height: 100vh;
    }
    
    .instagram-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    
    .instagram-phone img {
        height: 35rem;
    }
    
    .instagram-continue {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
        min-height: 34rem;
    }
    
    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        padding: 1.3rem 0;
        border: 1px solid lightgray;
    }
    
    .group:nth-child(1) {
        min-height: 19rem;
    }
    
    .instagram-logo {
        height: 6rem;
    }
    
    .login {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 10px;
        margin-bottom: 6px;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        width: 250px;
        font-size: 14px;
        position: relative;
    }
    
    .senha {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 0;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        width: 100%;
        font-size: 14px;
    }
    
    .entrar {
        text-align: center;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 30px;
        padding: 10px;
        width: 50%;
        color: #ffffff;
        background-color: #0095f6;
        border-radius: 4px;
    }
    
    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    
    .hr-alinhar {
        opacity: 50%;
        width: 50%;
        display: flex;
        margin: -20px;
        margin-right: 120px;
        padding-right: 100px;
        padding-top: -50px;
    }
    
    .hr-alinhar2 {
        opacity: 50%;
        width: 50%;
        display: flex;
        margin-left: 130px;
        padding-leftt: 110px;
        padding-bottom: -100px;
    }
    
    .facebook .ou {
        display: flex;
        margin-left: 100px;
        align-items: center;
        text-align: center;
        padding-top: -100px;
    }
    
    .imgfb {
        padding-top: 10px;
        float: left;
        position: absolute;
        width: 35px;
    }
    
    .fb {
        display: inline-block;
        position: absolute;
        width: 50%;
        padding-top: 1.5%;
        margin-left: 40px;
        color: blue;
        font-size: 15px;
    }
    
    .esqueceu {
        margin-top: 15%;
    }
    
    .cadastrar {
        margin-top: 15px;
    }
    
    .profile-photo img {
        height: 6rem;
    }
    
    .instagram-login {
        background-color: #0095f6;
        color: #ffffff;
        padding: 8px;
        border-radius: 4px;
    }
    
    .instagram-logout {
        color: #0095f6;
        margin-top: 1rem;
    }
    
    .not-account {
        color: rgb(160, 160, 160);
    }
    
    .link-blue {
        color: #0095f6;
    }
    
    .get-the-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1.3rem 0;
    }
    
    .download {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }
    
    .app-download {
        height: 3rem;
        width: 10rem;
        background-size: cover;
    }
    
    .app-download:nth-child(1) {
        background-image: url(./img/apple-button.png);
    }
    
    .app-download:nth-child(2) {
        background-image: url(./img/android-button.png);
    }
    /* media queries*/
    
    @media (max-width: 1024px) {
        .instagram-wrapper {
            width: 90%;
        }
    }
    
    @media (max-width: 650px) {
        .instagram-wrapper {
            position: absolute;
            margin-top: 1%;
            margin-right: 12%;
            width: 80%;
        }
        .instagram-phone {
            display: none;
        }
        .instagram-continue {
            width: 100%;
        }
        .imgfb {
            padding-top: 10px;
            float: left;
            position: absolute;
            width: 35px;
        }
        .fb {
            display: inline-block;
            position: absolute;
            width: 50%;
            padding-top: 4.5%;
            margin-left: 40px;
            color: blue;
            font-size: 15px;
        }
    }
    
    @media (max-width: 450px) {
        .instagram-wrapper {
            width: 90%;
            margin-left: 10%;
            padding-bottom: 1%;
        }
        .instagram-phone {
            display: none;
        }
        .instagram-continue {
            width: 100%;
        }
        .imgfb {
            padding-top: 10px;
            float: left;
            position: absolute;
            width: 35px;
        }
        .fb {
            display: inline-block;
            position: absolute;
            width: 50%;
            padding-top: 4.5%;
            margin-left: 40px;
            color: blue;
            font-size: 15px;
        }
    }